/* CSS tambahan untuk menyesuaikan tampilan navbar */
.navbar {
    background-color: #D9D9D9;
}

.navbar-brand {
    color: #2D5898;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: black;
    font-size: 16px;
}

#about {
    height: 650px;
    /* Panjang sesuai permintaan */
}

.bg-custom {
    background-color: #2D5898;
}

.bg-custom-2 {
    background-color: #9AB9E7;
}

.bg-card-custom {
    background-color: #9AB9E7;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000;
    /* Warna tombol */
    font-size: 2rem;
    /* Ukuran ikon */
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
    color: #2D5898 !important;
    /* Warna teks biru */
}